@media(max-width: 768px){
    #showcase  {
        min-height: 3000px;
    }

    #showcase h1{
        margin-top: 0;
        padding: 100px 0 100px 0 !important;
        font-size:55px;
        margin-bottom:10px;
      }
   
    .fa-align-justify {
        margin: 5px 15px 0 10px;
        padding: 0;
    }

    

    #showcase  .second-right p {
        font-size: 15px;
    }

   

    #showcase .third .third-box {
        font-size: 15px;
    }

    #showcase .third .third-box i {
        font-size: 23px;
        display: inline;
    }

   .fourth {
       margin: 100px 0 0 0;
       padding-top: 0px;
   }

    .fourth-box {
        padding: 10px 0;
    }

    #showcase .fourth-box p  {
        font-size: 18px !important;
    }

    #showcase .container::after {
        clear: both;
    }

    footer {
        padding: 25px 0 0 0;
    }

    @media(max-width: 630px){
       #showcase { min-height: 3400px;
       }
    }
    
}