@media(max-width: 768px){
    #showcase  {
        min-height: 2400px;
    }

    #showcase h1{
        margin-top: 0;
        padding: 100px 0 100px 0 !important;
        font-size:55px;
        margin-bottom:10px;
      }
    header .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #branding {
        margin: 0 0 0 10px;
    }

    .fa-align-justify {
        margin: 5px 15px 0 10px;
        padding: 0;
    }

    .third-box {
        height: 200px;
        font-size: 14px;
        margin: 0 0px;
    }
    #showcase .third .third-box i {
        font-size: 20px;
    }

    nav {
        margin: 0 0 0 0;
    }

    .fourth-box {
        padding: 10px 0;
    }

    #showcase .container::after {
        clear: both;
    }

    footer {
        padding: 25px 0 0 0;
    }
    
}